
<%= javascript_pack_tag 'home' %>

<section>
    <canvas id="canvas">
    <div class="flex">
        <div class="text">
            Welcome !
            <br>
            I'm  <span class="highlight"> Julien Bidart</span>.
            <br>
            I'm an aspiring full-stack web developer.
        </div>
        <div class="button page-link" dest="about">
        More
        </div>
    </div>
    </canvas>
</section>