

<section>
    <canvas id="canvas" width="300" height="200">
    <div class="flex">
        <div class="text">
            Welcome !
            <br>
            I'm  <span class="highlight"> Julien Bidart</span>.
            <br>
            I'm an aspiring full-stack web developer.
        </div>
        <div class="button page-link" dest="about">
        More
        </div>
    </div>
    </canvas>
</section>
<script>

let c = document.getElementById("canvas");
console.log(c);

</script>