section:nth-of-type(1) {
    height: calc(100vh + 53px);
    padding: 0 10px;
    position: relative;
}

.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 32pt;
    line-height: 36pt;
    color: whitesmoke;
    position: relative;
}

.highlight {
    color: brown;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
}

.button {
    font-size: 16pt;
}

#canvas {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    width: 100vw;
}
