.flex {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text {
    text-align: center;
    font-family: 'Mukta', sans-serif;
    font-size: 32pt;
    line-height: 36pt;
}

.highlight {
    color: brown;
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
}

.button {
    font-size: 16pt;
}

#canvas {
    background-color: brown;
    position: absolute;
}
